.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author]
    p #[a(href=config.repo) source] / #[a(href=config.feed.path) rss] / #[a(href=config.archives) archives] / #[a(href=config.tags) tags] / #[a(href=config.restapi) api] / #[a(href=config.github) github] / #[a(href=config.stackoverflow) stackoverflow] / #[a(href=config.linkedin) linkedin] / #[a(href=config.email) email]
